<form id="form_reg_category">
    <div class="form-group">
        <input id="register_category"  class="form-control" onkeyup=" javascript:this.value=this.value.toUpperCase()"
               type="text" placeholder="Categoria" maxlength="20">
        <label id="notification-error__inputNameCategory"
            class="notifications-input">Formato invalido</label>
    </div>
    <div class="form-group">
        <textarea style="resize: none;" id="register_descrition-category"
             class="form-control" type="text"
             placeholder="Descricion" maxlength="100"onkeyup="javascript:this.value=this.value.toLowerCase()"></textarea>
        <label id="notification-error__inputDescriptionCategory"
               class="notifications-input">Formato invalido</label>
    </div>
    
    <div id="message-regCategory" class="message-reg alert alert-danger mt-3"
        role="alert"></div>
</form>