<head>
    <title>Almacen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../../../source/css/main.css">
    <!-- Font-icon css-->
    <link href="../../../source/source/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../source/source/fontawesome-free-5.15.4-web/css/fontawesome.min.css" rel="stylesheet" type="text/css" /> 
   <link href="../../../source/source/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" type="text/css" />
  </head>