<div class="app-sidebar__overlay"  data-toggle="sidebar"></div>
   <aside class="app-sidebar">
</div>
  <ul class="app-menu">
    <li><a class="app-menu__item" href="index.ejs"><i class="fas fa-tachometer-alt"> </i> <span class="app-menu__label"> Dashboard</span></a></li>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Registro</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
         <li><a class="treeview-item" href="./register_client.ejs"><i class="far fa-circle"> </i> Cliente</a></li>
         <li><a class="treeview-item" href="./register_user.ejs"><i class="far fa-circle"> </i> Usuario</a></li>
         <li><a class="treeview-item" href="./register_product.ejs"><i class="far fa-circle"></i> Producto</a></li>  
         <li><a class="treeview-item" href="./register_supplier.ejs"><i class="far fa-circle"></i> Proveedor</a></li>  
         <li><a class="treeview-item" href="./register_category.ejs"><i class="far fa-circle"></i> Categoria</a></li>  
      </ul>
    </li>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Consultas</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="./consult.ejs"><i class="far fa-circle"></i> Consultar</a></li>
      </ul>
    </li>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Movimientos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="./inventory.ejs"><i class="far fa-circle"></i> Inventario</a></li>
        <li><a class="treeview-item" href="./egress.ejs"><i class="far fa-circle"></i> Egresos</a></li>
        <li><a class="treeview-item" href="./invoice.ejs"><i class="far fa-circle"></i> Facturacion</a></li>
        <li><a class="treeview-item" href="./report.ejs"><i class="far fa-circle"></i> Reportes</a></li>
      </ul>
    </li>     
    </li>
  </ul>
</aside>